<p>Congratulations to {{raffleName}} winner {{winnerName}}.</p>
<p>You are still entered to win the Grand Prize Jackpot drawing on November 11th at 9 p.m. </p>
<p>Stand Fast! Get more entries to increase your chance to win the Grand Prize jackpot by entering next month’s drawing! <a href="{{frontendUrl}}">{{frontendUrl}}</a></p>
<p>Warm regards,<br>
Diamond Gaming</p>
<a href='{{terms}}'>Terms &amp; Conditions</a>
