<p>Hey {{adminName}}!</p>
<p>The {{raffleName}} raffle has ended and the winner is {{winnerName}}. The winning amount is ${{raffleAmount}}. An email has been sent to the winner and all the participants. The report for the ended raffle can be downloaded from <a href='{{reportUrl}}'>{{reportUrl}}</a></p>
<p>Warm regards,<br>
New Hampshire Marines</p>
<a href='{{terms}}'>Terms &amp; Conditions</a>