<p>Thank you for entering the {{organizationName}}&#x27;s {{raffleName}} Raffle! Below are your entry numbers for this month’s drawing and you'll also be entered into the Progressive Jackpot Drawing on the Marine Corps Birthday, November 10th, 2020 at 9 p.m. EST.</p>
<div>
<ul>
{{#each entriesArr}}
<li><div>R{{raffleId}}T{{ticketId}}E{{id}}</div>
{{/each}}
</ul>
</div>
<p>If you need assistance, please contact our support center at <a href='{{contact}}'>{{contactEmail}}</a></p>
<p>Warm regards,<br>
New Hampshire Marine Corps</p>
<a href='{{terms}}'>Terms &amp; Conditions</a>