<p>Thank you for contributing ${{raffleAmount}} towards the {{organizationName}}&#x27;s 50-50/50 Raffle to benefit the Marine Corps League Department New Hampshire!</div>
<p>Below are your entry numbers for the {{raffleName}} drawing and the Grand Prize Jackpot drawing on the Marine Corps Birthday, November 10th, 2020.</p>
<div>
<ul>
{{#each entriesArr}}
<li><div>R{{raffleId}}T{{ticketId}}E{{id}}</div>
{{/each}}
</ul>
</div>
<p>All drawings shall be held at 9 pm on the last Sunday of the month from April through October 2020 with the final Grand Prize drawing on November 10th, 2020 in Rochester, NH.</p>
<p>The prize is 50% of the jackpot with half of the prize amount awarded to the monthly winner and the other half added to the final grand prize jackpot drawing prize.</p>
<p>If you need assistance, please contact our support center at <a href='{{contact}}'>{{contactEmail}}</a></p>
<p>Not yet a member of your local Marine Corps League?</p>
<p><a href='{{joinToday}}'>Join today!</a> Marines, family and supporters of the Marine Corps values are welcome!</p>
<p>Warm regards,<br>
New Hampshire Marines</p>
<p><a href='{{rules}}'>Raffle Rules</a></p>
<p><a href='{{terms}}'>Terms &amp; Conditions</a></p>