<p>Hi {{firstname}}!</p>
<p>Here are your ticket entry numbers for the {{raffleName}} and Progressive Raffle -- Good Luck!</p>
<div>
<ul>
{{#each entriesArr}}
<li><div>R{{raffleId}}T{{ticketId}}E{{id}}</div>
{{/each}}
</ul>
</div>
<p>If you need assistance with your account, please visit our support center at <a href='https://nh5050.com/'>https://nh5050.com/</a></p>
<p>Warm regards,<br>
New Hampshire Marine Corps</p>
<a href='{{contact}}'>Contact Us</a> | <a href='{{terms}}'>Privacy Policy</a></p>
