<p>Congratulations {{firstname}}!</p>
<p>You have won <strong>${{amount}}</strong> for the NH Marine Corps League’s {{raffleName}}. To claim your prize contact our raffle fundraising officer Roland Morin at <a href='{{contact}}'>raffles@seacoastmarines.org</a>.  Visit <a href='https://www.seacoastmarines.org/raffle-rules/claim-your-prize/'>https://www.seacoastmarines.org/raffle-rules/claim-your-prize/</a> for more information!</p>
<p>You are still entered to win the Progressive Jackpot on November 11th at 9 pm.. Get more entries to increase your chance to win the progressive jackpot by entering next month’s drawing! <a href='{{frontendUrl}}'>{{frontendUrl}}</a> </p>
<p>Enter again! Thank you for supporting the efforts of New Hampshire Marines in your local community.</p>
<p>Warm regards,<br>
New Hampshire Marine Corps</p>
<a href='{{terms}}'>Terms &amp; Conditions</a>