<p>Congratulations {{firstname}}!</p>
<p>You won the lottery {{raffleName}}</p>
<p>{{url}}</p>
<p>Please visit New Hampshire Marine Corps to claim your winnings. </p>
<p>If you need assistance with your account, please visit our support center at <a href='https://nh5050.com/'>https://nh5050.com/</a></p>
<p>Warm regards,<br>
New Hampshire Marine Corps</p>
<a href='{{contact}}'>Contact Us</a> | <a href='{{terms}}'>Privacy Policy</a></p>
